<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filterKey" class="form-control" placeholder="Enter Server Status to filter">
      <hr>
      <ul class="list-group">
        
          <!-- Here the data will be filtered from servers based on search let, after which for loop will run  -->
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filterKey:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge badge-pill badge-dark">
            {{ server.status }}
          </span>
          <!-- shorten is a custom pipe  -->
          <strong>{{ server.name | shorten}}</strong> | 
          <strong>{{ server.name | shorten:4}}</strong> | 
          {{ server.instanceType | uppercase }} | 
          <!-- default data pipe  -->
          <!-- {{ server.started | date}} -->
          <!-- Parameterized data pipe -->
          {{ server.started | date: 'fullDate'}}
        </li>
      </ul>
    </div>
  </div>
</div>
